<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Revenu Etudes - StackOverflow 2023</title>
        <link rel="stylesheet" href="../css/revenu_etudes.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <header>
            <h1>Revenu moyen selon le niveau d'études</h1>
            <p>
                Visualisez les revenus moyens des professionnels en fonction de leur niveau d'études. 
                Sélectionnez un pays et un nombre d’années d’expérience pour afficher le résultat.
            </p>
        </header>

        <section class="filters">

            <div class="filter-block">
                <label>Pays :</label>
                <select id="countrySelect">
                    <option value="">Sélectionner un pays</option>
                </select>
            </div>

            <button id="btnGenerate">Générer</button>
        </section>

        <section class="chart-container">
            <canvas id="edLevelChart" style="max-width:900px; margin: 0 auto;"></canvas>
        </section>

        <script src="../js/data_loader.js"></script>
        <script src="../js/currency_converter.js"></script>
        <script src="../js/revenu_etudes.js"></script>
    </body>
</html>